.dashboard{
    width: 100vw;
    height: 100vh;
    font-family: 'Ubuntu' sans-serif;
    background-color: rgba(221, 212, 212, 0.701);
    display: flex;
}
.side_bar{
    width: 20%;
    height: 100%;
    color: white;
    font-family: 'Ubuntu' sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgba(12, 12, 211, 0.778);
}
h1{
    text-align: center;
    padding-top: 2rem;
    border-radius: 10%;
    padding-bottom: 1rem;
}
ol{
    list-style-type: none;
    padding-top: 4rem;
    /* padding-left: 1rem; */
    font-size: 20px;
}
ol a{
    text-decoration: none;
    margin: 1.4rem;
    color: #fff;
}
.icons{
    margin-right: 1rem;
    margin-top: 2rem;
}
main{
    height: 100vh;
    background-color: rgba(240, 230, 230, 0.701);
    width: 100%;
    padding: 0rem 1rem;
    align-items: center;
    font-family: sans-serif;
}
h2{
    color: gray;
}
.inputs{
    width: 70%;
    height: 100vh;
}
.input_wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Trim_inputs{
    width: 300px;
    padding: 0rem 2rem;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}
._flex1{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}
.trims{
    width: 300px;
    height: 100px;
    border: 1px solid rgba(225, 225, 225, 0.949);
    border-radius: 10px;
    cursor: pointer;
    background-color: whitesmoke;
    padding: 1rem 2rem;
}
.trims:hover{
    background-color: rgba(21, 21, 203, 0.72);
    color: #fff;
    box-shadow: 10px solid gray;
}
.trims p{
    color: rgba(14, 14, 213, 0.685);
}
.email{
    color: blue;
    border: none;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    margin-top: 6rem;
}
.shorten{
    width: 100px;
    background-color: blue;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 6.4rem;
    margin-top: 1rem;
    border-radius: 10px;
    align-items: center;
    height: 40px;
}
.Clip{
    width: 250px;
    margin-left: 2rem;
    margin-top: 2rem;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-family: 'ubuntu' sans-serif;
    border-radius: 10px;
    height: 30px;
    border: none;
}
@media(max-width: 600px){
    .side_bar{
        width: 15%;
        background-color: #d8d8d8d0;
    }
    .side_bar ol{
        margin-right: 2rem;
    }
    .side_bar ol a{
        color: rgba(59, 59, 162, 0.796);
        /* padding: 0.3rem; */
        /* margin-right: 2rem; */
        font-size: 0px;
    }
    .Trim_inputs{
        width: 300px;
    }
    .side_bar h1{
        display: none;
    }
    .inputs{
        width: 78vw;
        height: 50vh;
    }
    ._flex1{
        display: flex;
        /* width: 200px; */
        margin-right: 1rem;
        flex-direction: column;
    }
}
