.footer{
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    text-align: center;
    margin-top: 5%;
}
.socials{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.footer ul{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.footer ul li{
    padding-left: 3rem;
    list-style-type: none;
    padding-top: 2rem;
    font-size: 20px;
    cursor: pointer;
}
@media(max-width: 780px){
    .footer{
        margin-top: 70%;
    }
}