.nav_bar{
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
}
span{
    color: blue;
}
.log_name{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 320px;
    /* margin-left: 1rem; */
    text-decoration: none;
}
.links li{
    margin: 1.3rem;
    list-style-type: none;
    font-size: 15px;
}
.links li a{
    text-decoration: none;
    color: black;
}
.login_nav{
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 320px;
}
.login_nav li{
    list-style-type: none;
}
.login_nav li a{
    text-decoration: none;
    color: blue;
}
.login_nav li a:active{
    color: blue;
}
.Nav_btn_1{
    border: 1px solid blue;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    color: blue;
    margin-left: 0.3rem;
}
.Nav_btn_2{
    background-color: rgb(0, 89, 255);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
}
.toggle{
    display: none;
}
.toggle .bars{
    color: blue;
}
/* Navigation bar for small screen */
@media only screen and (max-width: 600px) {
    .links{
       display: none;

    }
    .login_nav{
        display: none;
    }
    .toggle{
        display: block;
    }
    .bars{
        width: 50px;
        font-size: 23px;
        color: blue;
        background-color: inherit;
        border: none;
        margin-left: 10rem;
    }
    
    
}



















