.nav_bar{
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-around;
}
span{
    color: blue;
}
.log_name{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}
.links{
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-decoration: none;
}
.links li{
    margin: 1.3rem;
    list-style-type: none;
    font-size: 18px;
}
.links li a{
    text-decoration: none;
    color: rgb(40, 37, 37);
}
.links li a:active{
    color: blue;
}
.links li a:hover{
    outline: 2px;
    width: 20px;
    border-bottom: 2px solid blue;
    transition: ease-in-out;
    transition: 1ms;
}
.login_nav{
    margin-top: 0.4rem;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 320px;
}
.login_nav li{
    list-style-type: none;
}
.login_nav li a{
    text-decoration: none;
    color: blue;
}
.login_nav li a:active{
    color: blue;
}
.Nav_btn_1{
    border: 1px solid blue;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.5rem 1.2rem;
    color: blue;
    margin-right: 0.3rem;
}
.Nav_btn_2{
    background-color: rgb(0, 89, 255);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    padding: 0.5rem 1.2rem;
}
.toggle{
    display: none;
}


/* Navigation bar for small screen */
@media(max-width: 600px) {
    .nav_bar{
        position: absolute;
        transition: 0.5s height ease-in-out;
    }
    .nav_bar.expanded{
        color: white;
        width: 100vw;
        height: 100vh;
        transition-timing-function: 1ms;
        transition-duration: 2s;
        transition-delay: 1ms;
        opacity: 0.9;
        background-color: blue;
        color: white;
    }
    .nav_bar.expanded .links{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 2rem;
        flex-direction: column;
    }
    .nav_bar.expanded .links li a{
        color: white;
    }
    .nav_bar.expanded .links .login_nav{
        display: flex;
        flex-direction: column;
        padding-right: 1.8rem;
        column-gap: 1rem;
    }
    .nav_bar.expanded .links .login_nav button{
        margin-top: 1rem;
    }
    .links{
       display: none;
    }
    .links .toggle{
        display: block;
    }
    .login_nav{
        display: none;
    } 
    .toggle{
        display: block;
        color: blue;
        border: none;
    }
    .fatimes{
        display: flex;
        align-items: flex-end;
        color: white;
        background-color: blue;
        
    }
}



















