.section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup-box{
    width: 300px;
    height: 450px;
    border:none;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background-color: inherit;
    place-items: center;
}
h2{
    padding: 1rem 0rem;
}
form{
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
}
.input{
    padding: 1rem 4.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 1.4rem;
}
input[ type = 'submit']{
    background-color: blue;
    color: white;
    cursor: pointer;
    height: 40px;
    border-radius: 10px;
}
input[ type = 'button']:active{
    background-color: rgba(18, 18, 203, 0.351);
}
.login2{
    background-color: inherit;
    color: blue;
    cursor: pointer;
    border: none;
}
