.section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup-box{
    width: 500px;
    height: 400px;
    border: 1px solid rgb(177, 177, 245);
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    place-items: center;
}
h2{
    padding: 1rem 0rem;
}
form{
    display: flex;
    flex-direction: column;
    margin: 2rem 0rem;
}
input{
    padding: 1rem 3rem;
    margin-bottom: 1.4rem;
}
.login2{
    background-color: inherit;
    color: blue;
    cursor: pointer;
    border: none;
}