.QR_wrapper{
    width: 100vw;
    height: 100vh;
}
.Qr_inputWrapper{
    width: 100vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.Qr_input{
    width: 400px;
    outline: none;
    height: 40px;
    border-radius: 20px;
    border: 1px solid grey;
    font-size: 20px;
    padding-left: 1.4rem;
    align-items: center;
}
.Qr_inputWrapperBtn{
    width: 150px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    height: 40px;
    border: none;
    margin: 1rem;
    cursor: pointer;
}
.Qr_inputWrapperBtn:active{
    background-color: rgb(30, 30, 121);
}
._QR_Code{
    display: flex;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    column-gap: 2rem;
    align-items: center;
    justify-content: center;
}
.Generate{
    width: 200px;
    color: white;
    margin-top: 2rem;
    background-color: blue;
    border: none;
    height: 40px;
}





