@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5d5;
}
.header_wrapper{
  width: 100vw;
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.header{
 display: flex;
 font-family: 'Ubuntu', sans-serif;
 align-items: center;
 padding: 0.5rem;
 justify-content: center;
 flex-wrap: wrap;
 width: 100vw;
 height: 100vh;
}
.text{
  width: 700px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
  flex-wrap: wrap;
}
.text h1{
  font-size: 40px;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  font-family: 'Ubuntu', sans-serif;

}
.text h1 span{
  border-radius: 50%;
  padding-bottom: 0.5rem;
}
.text p{
  font-family: 'Ubuntu', sans-serif;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.signUp{
  background-color: blue;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  width: 150px;
  height: 40px;
  margin-right: 1rem;
}
.learn-more{
  background-color: inherit;
  color: blue;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0.5rem 1.6rem;
  font-family: 'Ubuntu', sans-serif;

}
.box{
  width: 330px;
  height: 150px;
  background-color: inherit;
  border: 1px solid rgba(162, 164, 171, 0.484);
  font-family: 'Ubuntu', sans-serif;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* padding: 0rem 2rem; */
  color: grey;
  margin-top: 2rem;
}
.box p{
  padding-bottom: 4rem;
  text-align: center;
}
.icon_wrapper{
  width: 100%;
  font-size: 30px;
  margin-top: 1rem;
  color: gray;
}
.error-message{
  color: red;
  padding-bottom: 1rem;
}
h1{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}
.why_choose{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.flex1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#QR{
  background-color: inherit;
  box-shadow: none;
}
.box1{
  width: 300px;
  margin-bottom: 1.5rem;
  margin:1rem;
  height: 200px;
  font-family: 'Ubuntu', sans-serif;
  border-radius: 10px;
  display: block;
}
.box1 .icon1{
  background-color: rgb(195, 210, 252);
  width: 35px;
  padding: 0.3rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  height: 35px;
}
.box1 h4{
  margin-bottom: 1rem;
}
.box1 p{
  font-size: 14px;
  padding-bottom: 1rem;
}
.pricingH1{
  font-size: 40px;
  padding: 2rem 0rem;
}
.Price_tags{
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.tag1{
  animation-name: tag1;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-delay: 1s;
  width: 250px;
  color: black;
  transition: transform 0.3s ease;
  transform: translateX(0);
  height: 300px;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  background-color: white;
  border-radius: 10px;
  text-align: center;
}
@keyframes tag1 {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}
.tag1 h3{
  font-size: 25px;
  text-align: center;
  padding: 2rem;
}
.tag1 p{
  padding: 2rem;
  color: black;
  font-family: 'Ubuntu', sans-serif;
}
.tag1 button{
  background-color: inherit;
  color: black;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 2rem;
}
.tag1 button:hover{
  color: grey;
}
.tag1:hover{
  box-shadow: 18px 18px 18px 18px grey;
}
.tag2{
  width: 250px;
  transition: transform 0.3s ease;
  transform: translateX(0);
  height: 350px;
  cursor: pointer;
  color: #fff;
  text-align: center;
  animation-name: tag2;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-delay: 1s;
  padding: 1rem 0rem;
  border-radius: 10px;
  margin: 1rem 2rem;
  background-color: rgb(1, 1, 77);
}
@keyframes tag2 {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
}
.tag2:hover{
  box-shadow: 18px 18px 18px 18px grey;
}
.tag2 h3{
  font-size: 30px;
  text-align: center;
  padding: 1rem;
}
.tag2 p{
  text-align: center;
  font-size: 17px;
  padding: 2rem;
}
.tag2 button{
  background-color: inherit;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-top: 2rem;
}
.tag2 button:hover{
  color: grey;
}

/* Analysis */
.analysis{
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
  background-image: linear-gradient(to right, rgb(49, 49, 128), rgba(16, 16, 155, 0.793)), url(./assets/shortify-analysis-background.jpg);
}
.analysis h1{
  font-size: 40px;
  color: white;
  animation-name: analysis;
  animation-timing-function: linear;
  animation-delay: 1s;
  animation-duration: 1s;
}
@keyframes analysis {
  from{
    opacity: 0.4;
    transform: translateY(100%);
  }
  to{
    transform: translateY(0%);
    opacity: 1;
  }
}

@media(max-width: 780px) {

  .Price_tags{
    height: 100vh;
    margin-bottom: 2rem;
  }
  .flex1{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .tag1{
    width: 90%;
  }
  .tag2{
    width: 100%;
  }
}















